
.App {
}

.AppWithData {
    max-width: 1400px;
    margin: auto;
}

.main-header {
    text-align: center;
    padding: 3em;
    background: #3c53ff;
    color: #fff;
    display: block;
}

.DataSheet {
    padding: 3em;
}

.InputArea {
    display: flex;
    justify-content: space-between;
}


.OutputArea {
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: 96%;
    padding-bottom: 2em;
    border-radius: 2em;
    background: #fff;
    box-shadow: 0 0 3em #ddd;
}

.OutputArea header {
    text-align: center;
}
