.App {
}

.AppWithData {
    max-width: 1400px;
    margin: auto;
    padding-bottom: 250px;
}

.navigation {
    text-align: center;
    background: #3157a8;

    button {
        padding: 0.5em 1em 0.5em 1em;
        font: inherit;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        border: none;
        color: #eee;
        background: none;
        min-width: 200px;
        transition: ease-in background-color 250ms;
        &:hover {
            color: #fff;
            background: #203b73;

        }
    }
}

.main-header {
    text-align: center;
    padding: 3em 0 3em 0;
    background: #3c6dd6;
    color: #fff;
    display: block;
    .container {
        margin: auto;
        max-width: 1000px;
        width: 86%;
    }
    h1 {
        color: #fff;
    }
}

.DataSheet {
    padding: 3em;
}

.InputArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.OutputArea {
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: 96%;
    padding-bottom: 2em;
    border-radius: 2em;
    background: #fff;
    box-shadow: 0 0 3em #ddd;
}

.OutputArea header {
    text-align: center;
}
