.App {
    background: rgb(248, 251, 255);
    background: linear-gradient(0deg, rgba(248, 251, 255, 1) 0%, rgba(232, 245, 252, 1) 100%);
}

.Loading {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    color: #497175;
    position: absolute;
    font-weight: 800;
    font-size: 1.5em;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.AppWithData {
    max-width: 1400px;
    margin: auto;
    padding-bottom: 250px;
    // background: #E2ccF5;
    border-radius: 1em;
    min-height: 55vh;
}

.navigation {
    text-align: center;

    button {
        padding: 0.5em 1em 0.5em 1em;
        font: inherit;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        border: none;
        color: #497175;
        margin: 1em;
        min-width: 200px;
        transition: ease-in background-color 250ms;
        border: 1px solid #497175;
        border-radius: 2em;
        background: none;
        &:hover {
            color: #111;
            background: #eee;
        }
    }

    .selector {
        padding: 0.5em 1em 0.5em 1em;
        font: inherit;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid #497175;
        border-radius: 2em;
        color: #497175;
        background: none;
        transition: ease-in background-color 250ms;
        &:hover {
            color: #111;
            background: #eee;
        }
    }
}

.main-header {
    text-align: center;
    padding: 3em 0 3em 0;
    display: block;
    .container {
        margin: auto;
        max-width: 1000px;
        width: 86%;
    }
}

.dismiss {
    float: right;
    padding: 0.5em;
    border-radius: 2em;
    border: 1px solid #888;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.2em;
    cursor: pointer;
    &:hover {
        background: #aaa;
    }
}

.DataSheet {
    overflow: hidden;
    margin: 0;
    padding: 0;
    .container {
        border-radius: 1.5em;
        background: #fff;
        box-shadow: 0 0.5em 2em #ddd;
        margin: 2em;
        padding: 0.5em 2em;
    }
    transition: max-height 350ms linear;
    max-height: 0px;
    &.Selected {
        max-height: 1000px;
    }
}

.InputArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.OutputArea {
    position: fixed;
    bottom: 2%;
    left: 2%;
    width: 96%;
    padding-bottom: 2em;
    border-radius: 2em;
    background: #fff;
    box-shadow: 0 0 3em #ddd;
}

.OutputArea header {
    text-align: center;
}
