.HelpText {
    button {
        position: absolute;
        top: 0;
        right: 0em;
        padding: 0.2em;
        border-radius: 1em;
        border: 1px solid #555;
        color: #555;
        background: #fff;
        font-size: 1.2em;
        font-family: monospace, courier;
        width: 1.5em;
        height: 1.5em;
        z-index: 50;
        cursor: help;

        &:hover {
            background: #eee;
        }
    }

    .text {
        position: absolute;
        z-index: 100;
        top: 2em;
        right: 1em;
        width: 200px;
        background: #fff;
        padding: 0.5em;
        box-shadow: 0 0.2em 1em #aaa;
        border-radius: 1em;
        display: none;

        &.visible {
            display: block;
        }
    }
}