.HelpText {
    button {
        position: absolute;
        top: 0;
        right: 0em;
        padding: 0.2em;
        border-radius: 1em;
        border: 1px solid #555;
        color: #555;
        background: #fff;
        font-size: 1.2em;
        font-family: monospace, courier;
        width: 1.5em;
        height: 1.5em;
        z-index: 50;
        cursor: help;

        &:hover {
            background: #eee;
        }
    }

    .text {
        position: absolute;
        z-index: 100;
        top: 2em;
        right: 1em;
        width: 300px;
        font-size: 0.8em;
        background: #fff;
        padding: 1em;
        box-shadow: 0 0.3em 1em #888;
        border-radius: 0.5em;
        display: none;
        color: #222;
        font-weight: 400;

        &.visible {
            display: block;
        }
    }
}