.InputField {
    flex: 0.1 1 12%;
    min-width: 170px;
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;

    &.group-low {
        background: #E0EBEB;
    }

    &.group-high {
        background: #A4C6C6;
    }


    label {
        flex: 0 1 70%;
        padding-right: 2em;
        color: #777;
        font-weight: 500;
        position: relative;
    }

    .field {
        position: relative;
        margin: 1em 0 1em 0;

        display: flex;

        input {
            flex: 1 1 auto;
            width: 100%;
            font-size: 1.2em;
            padding: 0.7em 0.7em 0.7em 2em;
            border-radius: 0.2em;
            border: 1px solid #494283;
            text-align: right;
            font-family: Arial, Verdana;
        }

        // Sometimes input fields will show totals
        .number {
            flex: 1 1 auto;
            width: 100%;
            text-align: center;
            font-size: 1.2em;
            padding: 0.7em 0em 0.5em 0;
            border-top: 1px solid #ccc;
            font-family: Arial, Verdana;
        }
    }

    // &:not(.inline_total ~ .inline_total).inline_total {
    // First of type
    // }

    &.inline_total {
        input {
            background: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }
    }

    &.locked {
        input {
            background: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }
    }

    button.revert {
        border-radius: 1em;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        background: none;
        color: #888;
        border: none;
        position: absolute;
        top: 2px;
        left: 2px;
        overflow: hidden;
        font-size: 2em;

        &:hover {
            background: #aaa;
            color: #fff;
        }

        &:active {
            background: #888;
            color: #fff;
        }
    }
}