.InputField {
    flex: 0 1 12%;
    min-width: 130px;

    display: flex;
    flex-direction: column;

    label {
        flex: 0 1 70%;
        color: #777;
        font-weight: 600;
    }

    input {
        flex: 0 1 auto;
        font-size: 1.1em;
        padding: 0.7em 0.7em 0.7em 2em;
        margin-top: 0.5em;
        width: 80%;
        border-radius: 0.2em;
        border: 1px solid #494283;
        text-align: right;
    }

    .field {
        position: relative;
        margin: 0em 0 1em 0;
    }

    // Sometimes input fields will show totals
    .number {
        text-align: right;
        font-size: 1.1em;
        padding-right: 1em;
        border-bottom: 1px solid #ccc;
    }

    // &:not(.inline_total ~ .inline_total).inline_total {
    // First of type
    // }

    &.inline_total {
        input {
            background: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }
    }

    &.locked {
        input {
            background: none;
            border: none;
            border-bottom: 1px solid #ccc;
        }
    }

    button.revert {
        border-radius: 1em;
        width: 2em;
        cursor: pointer;
        background: none;
        color: #888;
        border: none;
        position: absolute;
        top: 1em;
        left: 0.5em;
        padding: 0.4em;
        overflow: hidden;
        &:hover {
            background: #aaa;
            color: #fff;
        }
        &:active {
            background: #888;
            color: #fff;
        }
    }
}
