.Navigation {
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;

    .nav-separator {
        margin: 0 1em 0 1em;
        .nav-toggle {
            padding: 0.5em 0 0.5em 0;
            width: 100%;
            font: inherit;
            font-size: 1.2em;
            font-weight: 600;
            cursor: pointer;
            border: none;
            color: #497175;
            min-width: 200px;
            transition: ease-in background-color 250ms;
            border: 1px solid #497175;
            border-radius: 2em;
            background: none;
            &:hover {
                color: #333;
                background: #eee;
            }
        }

        &.checkbox-menu {
            width: 370px;
            position: relative;
            .nav-toggle {
                position: relative;
                z-index: 100;
            }
            .checkbox-dropdown {
                position: absolute;
                z-index: 50;
                padding-top: 2.8em;
                overflow: hidden;
                top: 0;
                left: 0;
                width: 100%;
                font: inherit;
                font-size: 1.2em;
                font-weight: 600;
                border: 1px solid #497175;
                border-radius: 1.3em;
                color: #497175;
                background: #fff;
                transition: height 200ms ease-out, opacity 100ms linear;
                opacity: 0.5;
                &.opened {
                    box-shadow: 0 1em 2em #ddd;
                    opacity: 1;
                }

                .checkbox-toggle {
                    margin: 0.5em;
                    padding: 0.5em 1em 0.5em 1em;
                    border-radius: 0.5em;
                    text-align: left;
                    cursor: pointer;
                    input {
                        border: 1px solid #8cbbc2;
                        margin-right: 0.5em;
                        pointer-events: none;
                    }
                    &:hover {
                        background: #8cbbc2;
                    }
                }
            }
        }
    }
}
