.Front {
    transition: ease-in opacity 250ms;
}

.Overlay {
    position: absolute;
    top: 360px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: linear opacity 300ms;
    z-index: 1000;

    .container {
        background: #fff;
        border-radius: 1em;
        box-shadow: 0 1em 2em #aaa;
        width: 80%;
        max-width: 1000px;
        margin: auto;
        padding: 3em;
        min-height: 50vh;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .dismiss {
        float: right;
        padding: 0.5em;
        border-radius: 2em;
        border: 1px solid #888;
        width: 2.5em;
        height: 2.5em;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
            background: #aaa;
        }
    }
}