@media print {
    body {
        margin: 0;
        color: #000 !important;
        background: none !important;
        font-size: 10pt !important;
    }
    * {
        color: #333 !important;
        font-size: 10pt !important;
        background: none !important;
    }
    .TotalsBanner {
        position: relative !important;
        margin-top: 5em;
    }
    .InputField {
        flex: 0 1 auto;
    }
    .InputArea {
        flex-wrap: nowrap;

    }
    .revert, .navigation {
        display: none;
    }
}
