@media print {
    body {
        margin: 0;
        color: #000 !important;
        background: none !important;
        font-size: 10pt !important;
    }
    * {
        color: #333 !important;
        font-size: 10pt !important;
        background: none !important;
    }
    .InputArea {
        flex-wrap: wrap;
        .InputField {
            flex: 0 1 auto;
            max-width: 300px;
        }
        .HelpText {
            display: none;
        }
    }
    .Navigation {
        display: none;
    }
    .main-header {
        margin: 0;
        padding: 1em;
    }
    .DataSheet {
        .container {
            margin: 1em;
            padding: 1em;
            box-shadow: none;
            border: 1px solid #aaa;
        }
    }
    .TotalsBanner {
        position: relative !important;
        margin-top: 5em;
        .container {
            box-shadow: none;
            border: 2px solid #aaa;
        }
        .total-set {
            margin-top: 1em;
        }
    }
    .revert,
    .navigation {
        display: none;
    }
}
