@media only screen and (max-width: 1000px) {
    body {
        font-size: 0.8em;
    }
    .Navigation {
        flex-wrap: wrap;
        .nav-toggle {
            margin-bottom: 1.5em;
        }
    }

    .DataSheet {
        .container {
            margin: 0.5em;
            padding: 1em;
        }
    }

    .TotalsBanner {
        bottom: 0;
        .container {
            padding: 1em 0 1em 0;
        }
        .total-set {
            margin-bottom: 1em;
        }
    }
}
