.SheetTotals {
    text-align: center;

    h3 {
        border-bottom: 1px solid #477172;
        padding-bottom: 0em;
        color: #477172;
    }

    h4 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5em;
        font-size: 1.3em;
        color: #477172;
        margin-top: 0;
    }

    .SheetTotals-inner {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: stretch;
        // justify-content: space-evenly;
    }

    .ResultGroup {
        border-radius: 0.3em; 
        margin: 0.2em;
        padding: 0.5em 0.2em 0.5em 0.2em;
        margin-bottom: 1em;


        &.group-low {
            background: #E0EBEB;
        }

        &.group-high {
            background: #A4C6C6;
        }

        .ResultTotals {
            display: flex;
            justify-content: center;
        }

        .Result {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;

            border-right: 1px solid #ccc;

            &:last-child {
                padding: 0;
                border: 0;
            }

            b {
                flex: 0 1 75%;
                font-size: 1.2em;
                font-weight: 300;
            }

            .number {
                display: block;
                flex: 0 1 25%;
                font-size: 1.5em;
                color: #000;
                font-weight: 500;
            }
        }
    }
}