.TotalsBanner {
    position: fixed;
    bottom: 2em;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    text-align: center;

    h3 {
        border-bottom: 1px solid #aaa;
        text-align: center;
        width: 95%;
        margin: 0 auto 1em auto;
    }
    .container {
        background: #fff;
        box-shadow: 0 1em 3em #aaa;
        border-radius: 2em;
        max-width: 1400px;
        margin: auto 1em 0 1em;
        padding: 0.5em 2em 1em 2em;
    }

    .number {
        color: #2562db;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }
}
